.container {
  position: fixed;
  display: flex;
  z-index: 2222;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
