.container {
  padding: 20px 0;
  font-size: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
}

.brand img {
  width: 100%;
  height: auto;
  max-width: 40px;
}

.navigation a + a {
  margin-left: 15px;
}

.user-container {
  position: relative;
}

.user-container > button {
  display: flex;
}

.user-container > button img {
  width: 100%;
  height: auto;
  max-width: 40px;
}

.user-dropdown {
  position: absolute;
  width: 250px;
  right: 0;

  margin-top: 10px;
  padding: 8px 16px;

  background-color: #f6f6f6f6;
  box-shadow: var(--main-bottom-box-shadow);
  border-radius: var(--main-bigger-border-radius);
}

.user-dropdown-navigation {
  font-size: 1.8rem;
}

.user-dropdown-navigation a,
.user-dropdown-navigation button {
  width: 100%;
  padding: 6px;

  text-align: left;
  transition: background-color 400ms ease-in-out;

  border-radius: var(--main-border-radius);
}

.user-dropdown-navigation a:hover,
.user-dropdown-navigation button:hover {
  background-color: rgba(0, 0, 0, var(--main-transparency));
}
